.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%; /* Jarak dari Navbar */
    margin-bottom: -5%; /* Jarak ke Card_tukang */
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #ffcc00;
  }
  